<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjxxt.mapper.ClazzMapper">
    <resultMap id="BaseResultMap" type="com.yjxxt.bean.Clazz">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="clazz_name" property="clazzName" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="VARCHAR"/>
        <result column="campus" property="campus" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, clazz_name, num, campus
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_clazz
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yjxxt.bean.Clazz">
        insert into t_clazz (id, clazz_name, num,
                             campus, is_valid)
        values (#{id,jdbcType=INTEGER}, #{clazzName,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR},
                #{campus,jdbcType=VARCHAR}, #{isValid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.yjxxt.bean.Clazz">
        insert into t_clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clazzName != null">
                clazz_name,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="campus != null">
                campus,
            </if>
            <if test="isValid !=null">
                is_valid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="clazzName != null">
                #{clazzName,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=VARCHAR},
            </if>
            <if test="campus != null">
                #{campus,jdbcType=VARCHAR},
            </if>
            <if test="isValid !=null">
                #{isValid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yjxxt.bean.Clazz">
        update t_clazz
        <set>
            <if test="clazzName != null">
                clazz_name = #{clazzName,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=VARCHAR},
            </if>
            <if test="campus != null">
                campus = #{campus,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yjxxt.bean.Clazz">
        update t_clazz
        set clazz_name = #{clazzName,jdbcType=VARCHAR},
            num        = #{num,jdbcType=VARCHAR},
            campus     = #{campus,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectClazzByName" resultType="com.yjxxt.bean.Clazz">
        select * from t_clazz
        <where>
            <if test="clazzName!=null and clazzName!=''">
                clazz_name=#{clazzName}
            </if>

        </where>
    </select>
    <delete id="deleteClazzByClazzId">
        delete
        from t_clazz
        where id = #{id};
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_clazz
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="countClazzNum" resultType="java.lang.Integer">
        select count(1)
        from t_clazz
        where id = #{id}
    </select>
    <!--查询语句-->
    <select id="selectByParams" parameterType="ClazzQuery" resultType="Clazz">
        select * from t_clazz
        <where>
            and is_valid=1
            <if test="clazzName!=null and clazzName!=''">
                and clazz_name like "%${clazzName}%"
            </if>
            <if test="num!=null and num!=''">
                and num =#{num}
            </if>
            <if test="campus!=null and campus!=''">
                and campus=#{campus}
            </if>
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
        </where>
    </select>

    <!--批量删除-->
    <update id="deleteBatch">
        update t_clazz
        set is_valid=0
        <where>
            <foreach collection="array" open="id in (" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </update>
    <!--自增长列-->
    <insert id="insertHasKey" parameterType="Clazz" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into t_clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clazzName != null">
                clazz_name,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="campus != null">
                campus,
            </if>
            <if test="isValid !=null">
                is_valid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="clazzName != null">
                #{clazzName,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=VARCHAR},
            </if>
            <if test="campus != null">
                #{campus,jdbcType=VARCHAR},
            </if>
            <if test="isValid !=null">
                #{isValid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--根据ID查询所有的班级-->
    <select id="selectClazz" parameterType="integer" resultType="java.util.Map">
        select id,clazz_name from t_clazz
        <where>
            <if test="id!=null and id!=''">
                id=#{id }
            </if>
        </where>
    </select>
</mapper>